<h2> Controle de Medicamentos</h2>

<hr />
<a href="/">Inicio</a> /@* Âncora ou Link*@
<a href="/Fornecedor/Listar">Fornecedores</a> / @* âncora ou Link*@
<hr />

<h1> Controle de Fornecedor</h1>

<form action"Cadastrar" method="post">

    <div>
        <label for="Nome">Nome</label>
        <input id="Nome" name="Nome" type="text">
    </div>

    <div>
        <label for="Telefone">telefone</label>
        <input id="Telefone" name="Telefone" type="text">
    </div>

    <div>
        <label for="Cnpj">CNPJ</label>
        <input id="Cnpj" name="CNPJ" type="text">
    </div>

    <button type="submit">Cadastrar</button>
</form>

<p>
    <a href="" </p>
